{
  "extends": ["airbnb-base", "airbnb-typescript/base"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "consistent-return": "off"
  }
}
