:root{
  --content-bg: #4353cb;
  --content-radius: 8px
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #5266eb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23000000' fill-opacity='0.05'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
  color: white;
}

.layout {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}

header {
  padding-block: 1rem;
  margin-bottom: 2rem;
  h1 {
    font-weight: bold;
    font-size: 2rem;
  }
}

#question-page {
  .state-board {
    padding: 1rem 2rem;
    border-radius: var(--content-radius);
    background: var(--content-bg);
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .state {
    display: flex;
    flex-direction: column;
    align-items: center;
    .text {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    span {
      font-size: 2rem;
      font-weight: 500;
    }
  }
  #health {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .life {
    color: red;
    height: 2rem;
    width: 2rem;
  }
}
#home-page {
  display: flex;
  flex-direction: column;
  select {
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    border: solid 1px black;
    color: #000;
  }
  button {
    background: #e25b07;
    font-weight: 500;
    padding: 1rem;
    border-radius: 10px;
  }
  .setting{
    border-radius: var(--content-radius);
    margin-bottom: 2rem;
    padding: 2rem;
    background: var(--content-bg);
  }
}

#end-page {
  .game-over {
    border-radius: var(--content-radius);
    background: var(--content-bg);
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    h2 {
      font-size: 3rem;
      font-weight: 700;
    }
    button {
      border-radius: var(--content-radius);
      padding: 0.5rem 1.5rem;
      background: #ed5e04;
      color: white;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .score {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      #final-score {
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }
}

.home {
  button {
    padding: 1rem;
    border-radius: 10px;
  }
}
